.Login-mainDiv{
    display: flex;
    justify-content: center;  
}
.Login-left{
    display: flex;
    flex-direction: column; 
    padding: 10px;
    background-color: rgba(126, 192, 240, 0.878);
    color: white;
}
.Login-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}