/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/components/filters/Sidebar.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* Sidebar.css */
.sidebar {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 16px;
    max-width: 300px;
  }
  
  .filter-section {
    margin-bottom: 16px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  /* Add media queries for mobile responsiveness */
  @media (max-width: 768px) {
    .sidebar {
      max-width: 100%;
    }
    /* Add any additional styles for mobile here */
  }
  
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/components/Product/Product.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Product-mainContainer {
    display: flex;
    flex-direction: column;
  }
  .Product-image{
    border-radius: 10;
    height: 25vh;
  }
  .Product-content{
    display: flex;
     flex-direction:row;
     align-items: center;
  }
  
  @media (max-width: 767px) {
    .Product-mainContainer{
        flex-direction: row;
    }
    .Product-content{
        flex-direction: column;
    }
    .Product-image{
        height: 20vh;
    }
  }
  
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/products/Products.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.Products-container{
    display:flex;
    flex-direction: row;
}

@media (max-width: 767px) {
    .Products-container{
        flex-direction: column;
    }
}
