.Product-mainContainer {
    display: flex;
    flex-direction: column;
  }
  .Product-image{
    border-radius: 10;
    height: 25vh;
  }
  .Product-content{
    display: flex;
     flex-direction:row;
     align-items: center;
  }
  
  @media (max-width: 767px) {
    .Product-mainContainer{
        flex-direction: row;
    }
    .Product-content{
        flex-direction: column;
    }
    .Product-image{
        height: 20vh;
    }
  }
  