.Products-container{
    display:flex;
    flex-direction: row;
    min-height: 80vh;
}

@media (max-width: 767px) {
    .Products-container{
        flex-direction: column;
        min-height: 0vh;
    }
}